@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap');

.footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to bottom, #ffffff, #A8C8A8) !important;
    font-family: 'Poppins', Arial, sans-serif;
    padding: 8px; /* 기존 16px에서 8px로 줄임 */
    margin-top: auto; 
    border: none;
  }
  
  html[lang="ko"] .footer {
    font-family: 'Nanum Gothic', sans-serif;
  }
  
  .footer-content {
    max-width: 800px;
    width: 100%;
    text-align: center;
    font-size: 12px; /* 텍스트 크기 축소 */
  }
  
  .footer-links,
  .footer-company, .footer-contact {
    margin-bottom: 4px; /* 여백을 줄임 */
    font-size: 12px; /* 텍스트 크기 축소 */
  }
  
  .footer-copyright {
    font-size: 10px; /* 저작권 부분의 글자 크기 축소 */
  }