main aside {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0px;
  left: -100%;
  opacity: 0;
  z-index: 2; /*2로 설정하며 section은 덮고 h1과 nav는 aside 위쪽에 배치*/
  padding: 20vh 7vw 14vh 20vw;
  display: flex;
  gap: 20px;
  transition: 1s; /*전환효과 설정*/
}
main aside.on {
  /*클래스 on이 붙으면*/
  opacity: 1;
  left: 0%; /*왼쪽 바깥에서 화면 안쪽으로 이동하도록 설정*/
}
main aside .txt {
  /* width: 10%; */
  height: 100%;
  display: flex;
  flex-direction: column;
}
main aside .txt h1 {
  font: normal 6vw/1 "Alegreya Sans SC";
  color: #ddd;
  margin-bottom: 20px;
  margin-left: auto;
}
main aside p {
  font: 1.1vw/1.3 "arial";
  color: #ddd;
  margin-bottom: 10px;
}
main aside span {
  cursor: pointer;
  color: orange;
  transition: 0.5s;
  margin-left: auto;
  padding: 0 1.5rem;
  font-size: 1.5rem;
}
main aside figure {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 50px;
}
